# requirements.txt records the full set of dependencies for development
pyext==0.7
word2number==1.1
latex2sympy2==1.5.4
antlr4-python3-runtime==4.9.3
bespokelabs-curator==0.1.20
scipy==1.15.2
wandb==0.19.8
IPython==8.33.0
matplotlib==3.10.1
typer==0.15.2
hf_transfer==0.1.9
pydantic==2.10.6
absl-py==2.1.0
chess==1.11.2
chex==0.1.89
dm-haiku==0.0.13
grain-nightly==0.0.10
jax==0.5.2
jaxtyping==0.2.38
jupyter==1.1.1
numpy==1.26.4
optax==0.2.4
orbax-checkpoint==0.11.8
pandas==2.2.2
typing-extensions==4.12.2
ipdb==0.13.13
multiprocess==0.70.15
spacy_fastlang==2.1.0
